<div class="centered-container">
  <h1 class="page-title">Sign up</h1>
  <div class="card card--padded">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    
    <%= render partial: '/shared/form_errors', locals: { model: resource } %>

    <div class="form-field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-field" %>
    </div>

    <div class="form-field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "text-field" %>
    </div>

    <div class="form-field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-field" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "button button--small" %>
    </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
